* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  text-align:center;
  background-image: linear-gradient(blanchedalmond, turquoise);
  display: flex;
  padding: 1em;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

h1,h2 {
  font-family: 'Impact';
  font-size: 4rem;
  vertical-align:center;
  flex:1;
}

figure {
  flex: 1;
  display:flex;
  justify-content: center;
  align-items: center;
}
